In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
df = pd.read_csv("Flipkart_Mobiles.csv")

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           3114 non-null   object
 1   Model           3114 non-null   object
 2   Color           3114 non-null   object
 3   Memory          3071 non-null   object
 4   Storage         3075 non-null   object
 5   Rating          2970 non-null   float64
 6   Selling Price   3114 non-null   int64
 7   Original Price  3114 non-null   int64
dtypes: float64(1), int64(2), object(5)
memory usage: 194.8+ KB

In [51]:
df.isna().sum()

Brand               0
Model               0
Color               0
Memory             43
Storage            39
Rating            144
Selling Price       0
Original Price      0
dtype: int64

In [61]:
df['Composite_Key'] =  df['Brand'].fillna('') + '_' + \
                        df['Color'].fillna('') + '_' + \
                        df['Model'].fillna('') + '_' + \
                        df['Memory'].fillna('') + '_' + \
                        df['Original Price'].astype(str).fillna('') + '_' + \
                        df['Selling Price'].astype(str).fillna('')

In [109]:
df['Composite_Key2'] =  df['Brand'].fillna('') + '_' + \
                        df['Color'].fillna('') + '_' + \
                        df['Model'].fillna('') + '_' + \
                        df['Storage'].fillna('') + '_' + \
                        df['Original Price'].astype(str).fillna('') + '_' + \
                        df['Selling Price'].astype(str).fillna('')

In [63]:
lookup_dict = df[df['Storage'].notnull()].groupby('Composite_Key')['Storage'].first().to_dict()

In [111]:
lookup_dict = df[df['Memory'].notnull()].groupby('Composite_Key2')['Memory'].first().to_dict()

In [65]:
df['Storage'] = df.apply(lambda row: lookup_dict.get(row['Composite_Key'], row['Storage']) if pd.isnull(row['Storage']) else row['Storage'], axis=1)

In [113]:
df['Memory'] = df.apply(lambda row: lookup_dict.get(row['Composite_Key2'], row['Memory']) if pd.isnull(row['Memory']) else row['Memory'], axis=1)

In [133]:
df.drop(columns=['Composite_Key'], inplace=True)

In [126]:
print("\nNumber of remaining missing values in 'Storage' after lookup:")
print(df['Storage'].isnull().sum())

Number of remaining missing values in 'Storage' after lookup:
1

In [137]:
df.isna().sum()

Brand               0
Model               0
Color               0
Memory             40
Storage             1
Rating            144
Selling Price       0
Original Price      0
dtype: int64

In [139]:
df.head()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990

In [141]:
 df.to_csv('Flipkart_Mobiles_Updated.csv', index=False)